:root {
    --primary: #9B5DE5;      /* Amethyst Purple */
    --lavender: #E6DAF8;     /* Soft Lavender */
    --black: #222;
    --white: #fff;
    --gray: #727272;
    --radius: 12px;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--white);
    color: var(--black);
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}
