.auth-container {
    width: 100%;
    max-width: 420px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.auth-container h2 {
    text-align: center;
    color: #4b2e83;
    margin-bottom: 20px;
}

.auth-container label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #333;
}

.auth-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
}

.auth-container button {
    width: 100%;
    background: #6a0dad; /* Amethyst */
    color: white;
    padding: 12px;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.auth-container button:hover {
    background: #5a0094;
}

.auth-link {
    text-align: center;
    margin-top: 18px;
}

.auth-link a {
    color: #4b2e83;
    font-weight: bold;
}
