table{ 
    border-collapse: collapse; 
    width: 100%; 
}

table th, table td { 
    padding: 12px; 
    border-bottom: 1px solid #eee; 
    vertical-align: middle; 
}

.btn { background:#6A0DAD;
    color:#fff;
    padding:10px 18px;
    border-radius:8px;
    text-decoration:none 
}
