.category-page {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: #4b2e83;
    margin-bottom: 25px;
}

.cat-grid-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.cat-box {
    background: #F4EDFF;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    color: #4b2e83;
    text-decoration: none;
    transition: 0.2s;
}

.cat-box:hover {
    background: #E2D4FF;
    transform: translateY(-4px);
}
