.navbar {
    width: 100%;
    background: #ffffff;
    padding: 15px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    position: sticky;
    top: 0;
    z-index: 200;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #6A0DAD;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
}

.logo:hover {
    opacity: 0.8;
}

.nav-right a {
    margin-left: 25px;
    color: #4b2e83;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

.nav-right a:hover {
    color: #6A0DAD;
}

.login-btn {
    padding: 8px 18px;
    border: 1px solid #6A0DAD;
    border-radius: 25px;
}

.logout {
    color: red !important;
}
